# Ignora file compilati
*.exe
*.dll
*.obj
*.pdb
*.o
*.d
*.elf

# Ignora build temporanee
/bin/
/build/
/dist/
/node_modules/
/FreeRTOS/
/Assesment/2024-11-08-eos-assessment/ 
# Ignora file di log o di sistema
*.log
*.tmp
*.cache

# Ignora file di configurazione locali
.vscode/
.idea/
*.user
CAOS/Assesment/2024-11-08-eos-assessment
